{% extends "base.html" %}

{% block content %}
<!-- Search Form Section -->
<section class="flex justify-center bg-cstdarkGray text-cstivory rounded-xl">

  <!-- Form for submitting job search keyword -->
  <form action="/search" class="flex flex-col w-full p-3 gap-5" onsubmit="return showLoading();">
    <label for="keywordbox" class="text-[22px] md:text-[26px] font-semibold">
      What job do you want?
    </label>
    <input 
      type="text" name="keyword" id="keywordbox" 
      autocomplete="off" required placeholder="Write keyword please!"
      class="px-4 py-4 border border-gray-500 rounded-md focus:outline-none focus:border-cstYellow focus:ring-1 focus:ring-cstYellow"  
    >
    
    <!-- Submit Button -->
    <button type="submit" class="bg-cstBlue text-lg text-cstivory font-semibold py-3 hover:text-cstYellow rounded-md cursor-pointer">Search</button>
  </form>
</section>

<!-- Scraper-Card Section -->
<section class="mt-30 hidden md:block">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    
    <!-- Scraper-Card for berlinstartupjobs.com -->
    <article data-id="bsj" class="bg-cstdarkGray pb-3 rounded-lg overflow-hidden">

      <!-- Logo -->
      <img class="w-full h-52 p-3"
      src="{{ url_for('static', filename='media/berlinstartupjobs_logo.png') }}"
      alt="berlinstartupjobs_logo"
      >

      <!-- Conditional rendering of results or loading text -->
      <div class="text-cstivory flex justify-center">
        {% if results %}

        <!-- Result view -->
        <div class="mt-2 flex flex-col gap-3">
          <div>
            <span class="text-[22px] font-semibold mb-4 text-cstivory px-3 py-1 border-2 border-r-0 border-gray-500">Search Result</span>
            {% for k, v in results.items() %}
            {% if k == "bsj" %}
            <span class="text-[22px] font-semibold px-3 py-1 border-2 border-gray-500">{{ v }}</span>
          </div>

          <!-- GET button -->
          <a 
            href="{{ url_for('result') }}?site=bsj&keyword={{ request.args.get('keyword') }}" 
            class="text-lg text-center font-semibold px-3 py-1 rounded-md bg-cstBlue hover:text-cstYellow">
            GET
          </a>
          {% endif %}
          {% endfor %}
        </div>
        {% else %}

        <!-- Loading animation shown before result -->
        <span id="searchtext" class="mt-1 text-cstivory font-semibold text-lg">Go Search!</span>
        <div id="loading" class="hidden mt-1 text-cstivory font-semibold text-lg space-x-1">
          <span>Start Searching</span>
          <i class="fas fa-spinner fa-spin"></i>
        </div>
        {% endif %}
      </div>
    </article>

    <!-- Scraper-Card for weworkremotely.com -->
    <article data-id="wwr" class="bg-cstdarkGray pb-3 rounded-lg overflow-hidden">

      <!-- Logo -->
      <img class="w-full h-52 p-3" 
      src="{{ url_for('static', filename='media/weworkremotely_logo.png') }}"
      alt="weworkremotely_logo"
      >

      <!-- Conditional rendering of results or loading text -->
      <div class="text-cstivory flex justify-center">
        {% if results %}

        <!-- Result view -->
        <div class="mt-2 flex flex-col gap-3">
          <div>
            <span class="text-[22px] font-semibold mb-4 text-cstivory px-3 py-1 border-2 border-r-0 border-gray-500">Search Result</span>
            {% for k, v in results.items() %}
            {% if k == "wwr" %}
            <span class="text-[22px] font-semibold px-3 py-1 border-2 border-gray-500">{{ v }}</span>
          </div>

          <!-- GET button -->
          <a 
            href="{{ url_for('result') }}?site=wwr&keyword={{ request.args.get('keyword') }}" 
            class="text-lg text-center font-semibold px-3 py-1 rounded-md bg-cstBlue hover:text-cstYellow">
            GET
          </a>
          {% endif %}
          {% endfor %}
        </div>
        {% else %}

        <!-- Loading animation shown before result -->
        <span id="searchtext" class="mt-1 text-cstivory font-semibold text-lg">Go Search!</span>
        <div id="loading" class="hidden mt-1 text-cstivory font-semibold text-lg space-x-1">
          <span>Start Searching</span>
          <i class="fas fa-spinner fa-spin"></i>
        </div>
        {% endif %}
      </div>
    </article>
    
    <!-- Scraper-Card for stepstone.de -->
    <article data-id="ssd" class="bg-cstdarkGray pb-3 rounded-lg overflow-hidden">

      <!-- Logo -->
      <img class="w-full h-52 p-3" 
          src="{{ url_for('static', filename='media/stepstone_logo.png') }}"
          alt="stepstone_logo_logo"
      >

      <!-- Conditional rendering of results or loading text -->
      <div class="text-cstivory flex justify-center">
        {% if results %}

        <!-- Result view -->
        <div class="mt-2 flex flex-col gap-3">
          <div>
            <span class="text-[22px] font-semibold mb-4 text-cstivory px-3 py-1 border-2 border-r-0 border-gray-500">Search Result</span>
            {% for k, v in results.items() %}
            {% if k == "ssd" %}
            <span class="text-[22px] font-semibold px-3 py-1 border-2 border-gray-500">{{ v }}</span>
          </div>

          <!-- GET button -->
          <a 
            href="{{ url_for('result') }}?site=ssd&keyword={{ request.args.get('keyword') }}" 
            class="text-lg text-center font-semibold px-3 py-1 rounded-md bg-cstBlue hover:text-cstYellow">
            GET
          </a>
          {% endif %}
          {% endfor %}
        </div>
        {% else %}

        <!-- Loading animation shown before result -->
        <span id="searchtext" class="mt-1 text-cstivory font-semibold text-lg">Go Search!</span>
        <div id="loading" class="hidden mt-1 text-cstivory font-semibold text-lg space-x-1">
          <span>Start Searching</span>
          <i class="fas fa-spinner fa-spin"></i>
        </div>
        {% endif %}
      </div>
    </article>

  </div>
</section>

<!-- Mobile Scraper-Card Section -->
<section class="md:hidden mt-10 flex flex-col p-3 gap-8">

  <!-- Mobile Conditional rendering of results or loading text -->
  <article class="text-xl flex justify-center text-cstivory font-semibold">
    {% if results %}
      <div class="grid grid-cols-2 gap-5">
        <span class="flex items-center">Complete!</span>

        <!-- Mobile GET button -->
        <a 
          href="{{ url_for('result') }}?site=bsj&keyword={{ request.args.get('keyword') }}" 
          class="text-lg text-center font-semibold px-3 py-1 rounded-md bg-cstdarkGray border-2 border-gray-500">
          GET
        </a>
      </div>
    {% else %}
      <!-- Mobile Loading animation shown before result -->
      <span id="searchtext" class="">Go Search!</span>
      <div id="loading" class="hidden space-x-1">
        <span>Start Searching</span>
        <i class="fas fa-spinner fa-spin"></i>
      </div>
    {% endif %}
  </article>

  <!--Mobile Scraper-Card for berlinstartupjobs.com -->
  <article class="p-3 text-2xl border-2 border-gray-500 bg-linear-to-b from-cstivory to-orange-500 rounded-xl flex justify-center">
    <div class="font-semibold uppercase space-x-1">
      <span class="text-black">Berlin</span>
      <span class="text-cstivory">startupjobs</span>
    </div>
  </article>

  <!-- Mobile Scraper-Card for weworkremotely.com -->
  <article class="p-3 text-2xl border-2 border-gray-500 bg-black rounded-xl flex justify-center items-center">
    <div class="relative inline-block">
      <span class="absolute top-0 -right-3 size-2.5 bg-red-600 rounded-full"></span>
      <span class="text-cstivory font-semibold uppercase">wwr</span>
    </div>
  </article>
  
  <!-- Mobile Scraper-Card for stepstone.de -->
  <article class="p-3 text-2xl border-2 border-gray-500 bg-linear-to-br from-sky-200 via-white to-pink-200 rounded-xl">
    <div class="flex justify-center items-center space-x-2 font-semibold">
      <span class="text-blue-900">Stepstone</span>
    </div>
  </article>

</section>


{% endblock %}
